body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pokedex-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ffcc00;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ffaa00;
}

.pokemon-info {
    margin-top: 20px;
}

.pokemon-image-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemon-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#pokemon-title {
    font-size: 24px;
    margin: 10px 0;
}

#pokemon-type {
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.navigation-buttons button {
    width: 45px;
}

/* Define as cores para os tipos de Pokémon */
.type-normal { background-color: #A8A77A; }
.type-fire { background-color: #EE8130; }
.type-water { background-color: #6390F0; }
.type-electric { background-color: #F7D02C; }
.type-grass { background-color: #7AC74C; }
.type-ice { background-color: #96D9D6; }
.type-fighting { background-color: #C22E28; }
.type-poison { background-color: #A33EA1; }
.type-ground { background-color: #E2BF65; }
.type-flying { background-color: #A98FF3; }
.type-psychic { background-color: #F95587; }
.type-bug { background-color: #A6B91A; }
.type-rock { background-color: #B6A136; }
.type-ghost { background-color: #735797; }
.type-dark { background-color: #705746; }
.type-dragon { background-color: #6F35FC; }
.type-steel { background-color: #B7B7CE; }
.type-fairy { background-color: #D685AD; }
